@font-face {
    font-family: 'Roboto';
    src: url('Fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Rubic';
    src: url('Fonts/Rubik/Rubik-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Nova';
    src: url('Fonts/Nova_Square/NovaSquare-Regular.ttf');
}

:root {
    --text-colour: #000000;
    --background-colour: #ffffff;
    --background-image: radial-gradient(at right, rgba(100, 0, 255, 0.7) 0, rgba(255,0,208,.3) 40%, rgba(0,0,0,0) 80%);
}

.dark-mode {
    --text-colour: #ffffff;
    --secondary-text-colour: #a9a9a9;
    --border-colour: #696969;
    --background-colour: #000000;
    --background-image: radial-gradient(at right, rgba(100, 0, 255, 0.7) 0, rgba(255,0,208,.3) 40%, rgba(0,0,0,0) 80%);
    }

h1{
    font-family: 'Rubic', sans-serif;
    font-size: 3em;
    font-weight: 400;
    color: var(--text-colour);
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: var(--text-colour);
}

html{
    background-color: var(--background-colour);
    background-image: var(--background-image);
    color: var(--text-colour);
    background-size: 100vw 150vw;
    /* height: 300vw; */
}


#main-head{
    font-family: 'Nova', Courier, monospace;
    font-size: 5em;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    /* width: 80%; */
    height: 300vh;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    color: var(--text-colour);
    height: 60px;
    position: fixed;
    width: 100vw;
    z-index: 100;
    transition: all 0.3s ease;
}

.scrolled{
    backdrop-filter: blur(10px);
    /* background-color: red; */
    -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.75);
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

nav ul li a:hover{
    color: var(--secondary-text-colour);
}
nav ul li a:after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--secondary-text-colour);
    transition: width .3s;
}
nav ul li a:hover:after{
    width: 100%;
}

#themeBtn{
    height: 40px;
    width: 40px;
    mix-blend-mode: difference;
    overflow: hidden;
    position: relative;
    display: flex;
    background: none;
    box-shadow: none;
    border: none;
}

#themeBtn .circle{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*moon*/
#themeBtn #circle1{
    background-color: black;
    z-index: 101;
    transform: translate(-70%, -70%);
}

#themeBtn:hover #circle2{
    background-color: #696969;
}
